@model CryptoObj
@{
    ViewBag.Title = "Index";
}

<h2>Encryption Results</h2>

<div class="container">
    <div classs="row">
        <div class="well well-sm">
            You Sent the following information accross the wire
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Enter Details for Crypto Object</h3>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group ">
                        <label for="UserName" class="col-sm-4">UserName</label>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "User Name", @readonly= "readonly" })
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <label for="CompanyGuid" class="col-sm-4">Company Guid</label>
                        @Html.TextBoxFor(m => m.CompanyGuid, new { @class = "form-control", @placeholder = "Company Guid", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <label for="UserGuid" class="col-sm-4">User Guid</label>
                        @Html.TextBoxFor(m => m.UserGuid, new { @class = "form-control", @placeholder = "User Guid", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <label for="AccessKey" class="col-sm-4">Token / AccessKey</label>
                        @Html.TextBoxFor(m => m.AccessKey, new { @class = "form-control", @placeholder = "AccessKey / Token", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <label for="Created" class="col-sm-4">Created</label>
                        @Html.TextBoxFor(m => m.Created, new { @class = "form-control", @placeholder = "Created DateTime", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <label for="Password" class="col-sm-4">Password</label>
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @readonly = "readonly" })

                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <label for="Licence" class="col-sm-4">Licence</label>
                        @Html.TextBoxFor(m => m.Licence, new { @class = "form-control", @placeholder = "Licence", @readonly = "readonly" })
                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="form-group form-group-sm">
                        <label for="OriginatingURL" class="col-sm-4">URL</label>
                        @Html.TextBoxFor(m => m.OriginatingURL, new { @class = "form-control", @placeholder = "ReturnURL", @readonly = "readonly" })
                    </div>
                </div>

                <div class="form-horizontal">
                    <div class="col-sm-12 ">
                        <Button type="submit" class="btn-group-sm btn btn-block btn-primary" id="Button" value="Submit">Clear and Start Over</Button>
                    </div>
                </div>
            </div>
        </div>



    </div>
}

